<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Home page are request</h2>

    <button class="btn btn-outline-danger"> <a href="{% url 'detail' 1 %}">Studnety 1</a></button>
    <button class="btn btn-outline-info"><a href="{% url 'detail' 2 %}">Studnety 2</a></button>
    <button class="btn btn-outline-danger"><a href="{% url 'detail' 3 %}">Studnety 3</a></button>
    
    
</body>
</html>