<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<style>
    table,
    tr,
    th,
    td {
        background-color: black;
        color: white;
        border: 2px double fuchsia;
        font-size: 20px;
    }


    td:hover {
        color: white;
        background-color: yellowgreen;
    }

    }
</style>

<body>
    <div class="container">

        <table class="table-bordered table-hover table-responsive table-striped shadow bg-dark text-primary">
            <h1 class="alert alert-info text-center btn btn-danger"> STUDENT DATA</h1>
            <thead>
                <tr>
                    <th>COUNT</th>
                    <th>SRNO</th>
                    <th>STUDENT-NAME</th>
                    <th>STUDENT-ROLL</th>
                    <th>STUDENT-CITY</th>
                    <th>STUDENT-MARKS</th>
                    <th>STUDENT-DATE OF PASS</th>
                </tr>
            </thead>
            {% for student in student_data %}
            <tbody class="bg-dark">
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.roll}}</td>
                    <td>{{student.city}}</td>
                    <td>{{student.marks}} </td>
                    <td>{{student.pass_date}} </td>

                </tr>
            </tbody>

            {% endfor %}
        </table>
    </div>
</body>

</html>