<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATABASE STUDENT ALL</title>
</head>
<style>
    th,td{
        border: 1px ridge saddlebrown;
    }
</style>
<body>
    <h1>SHOW THE student DATABASE</h1>



    <h3>hello adi</h3>
   {{std}}
    <table border="5">
        <thead>
            <tr>
                <th>ID</th>
                <th>STUID</th>
                <th>STUDENT TNAME</th>
                <th>STUDENT EMAIL</th>
                <th>STUDENT CONTENT</th>
                <th>STUDENT PASS</th>
            </tr>
        </thead>
        {% for stud in stud %}
        <tr>
            
                
           
            <td>{{stud.id}}</td>
            <td>{{stud.stuname}}</td>
            <td>{{stud.stuname}}</td>
            <td>{{stud.stuemail}}</td>
            <td>{{stud.stucontent}}</td>
            <td>{{stud.stupass}}</td>
        </tr>
        {% endfor %}
    </table>


</body>

</html>