<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COURSE/TWO</title>
</head>
<style>
    body {
        background-color: skyblue;
    }
</style>

<body>
    <h1>python_django second step</h1>

    <h2>Hello {{na}} your mobile number {{ag}} your job profile is {{job}}</h2>

    <h2>Name:{{na}}</h2>
    <h2>AGE:{{ag}}</h2>
    <h3>jobrole:{{job}}</h3>
    <div></div>w
</body>

</html>