<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            border: 3px double darkblue;
            margin: 0;
            padding: 0;

        }
        .errorlist{
            list-style: none;
            color: rgb(95, 14, 30);
            padding: 0;
            margin: 0;
            
        }
    </style>
</head>
<body>
    <form action="" method="POST" navalidate>
        {% csrf_token %}
        {{form.non_field_errors }}
        {% for field in form %}
       <div>
           {{field.label_tag}} {{field}} {{field.error}}
       </div>
       
        { % endfor  %}
        <input type="submit" class="type" value="Submit">
    </form>
</body>
</html>