<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADI|CRUD</title>
    <link rel="stylesheet" href="{% static 'crudapplication/css/bootstrap.css' %}"> 
 
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-warning">Founction based views from ModelForm CRUD APPLICATION</h2>
    
        {% block content %}   {% endblock content %}
    </div>
    <script rel="stylesheet" src="{% static 'crudapplication/js/bootstap.js' %}"></script>
    <script rel="stylesheet" src="{% static 'crudapplication/js/popper.js' %}"></script>
    <script rel="stylesheet" src="{% static 'crudapplication/js/jquery.js' %}"></script>

</body>
</html>